#main-box {
    -fx-background-color: #282828;
}

#title-bar {
    -fx-background-color: #504945;
}

.button {   
    -fx-background-color: #076678;
    -fx-text-fill: #fbf1c7;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.button:hover {
    -fx-background-color: #458588;
}

.button:armed {
    -fx-background-color: #045666;
} 

#title-bar #close-button {
    -fx-background-color: #cc241d;
}

#title-bar #close-button:hover {
    -fx-background-color: #f82a23;
}

#title-bar #close-button:armed {
    -fx-background-color: #9d0006;
}


.label {
    -fx-text-fill: #fbf1c7;
}

.text-field {
    -fx-background-color: #504945;
    -fx-text-fill: #fbf1c7;
    -fx-prompt-text-fill: #fbf1c7;

    /* these fields get rid of corners and border colors */
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-border-style: none;
    -fx-background-color: #504945;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}