.label {
    -fx-text-fill: #fbf1c7;
}

.list-view {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-border-width: 0;
    -fx-border-style: none;
    -fx-background-color: #504945;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.list-view .list-cell {
    -fx-text-fill: #fbf1c7;
}

.list-view .list-cell:odd {
    -fx-background-color: #3c3836;
}

.list-view .list-cell:selected .label {
    -fx-text-fill: #3c3836;
}

.list-view .list-cell:selected:odd {
    -fx-background-color: #fbf1c7;
    -fx-text-fill: #3c3836
}

.list-view .list-cell:even {
    -fx-background-color: #504945;
}

.list-view .list-cell:selected:even {
    -fx-background-color: #fbf1c7;
    -fx-text-fill: #504945;
}

.text-field {
    -fx-background-color: #504945;
    -fx-text-fill: #fbf1c7;
    -fx-prompt-text-fill: #fbf1c7;
    
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.list-view .list-cell:even .text-field {
    -fx-background-color: #3c3836;
}

.button {
    -fx-text-fill: #fbf1c7;
    -fx-background-color: #076678;
    
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.button:hover {
    -fx-background-color: #458588;
}

.button:armed {
    -fx-background-color: #045666;
} 