#mainBox {
    -fx-text-fill: #fbf1c7;
    -fx-background-color: #504945;
}

#otherInfo {
    -fx-background-color: #504945;
	-fx-border-color: #fbf1c7 #504945 #fbf1c7 #504945;
}

.label {
    -fx-text-fill: #fbf1c7;
}
