#main-box {
    -fx-background-color: #282828;
}

.label {
    -fx-text-fill: #fbf1c7;
}

.button {
    -fx-text-fill: #fbf1c7;
    -fx-background-color: #076678;
    
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.button:hover {
    -fx-background-color: #458588;
}

.button:armed {
    -fx-background-color: #045666;
} 

.text-field {
    -fx-background-color: #504945;
    -fx-text-fill: #fbf1c7;

    /* these fields get rid of corners and border colors */
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.text-area, .text-area .content {
    -fx-border-color: transparent;
    -fx-text-fill: #fbf1c7;
    -fx-background-color: #504945;
    -fx-background-radius: 0;
    -fx-border-width: 0;
}