#mainBox {
    -fx-background-color: #282828;
}

.label {
    -fx-text-fill: #fbf1c7;
}

.button {
    -fx-text-fill: #fbf1c7;
    -fx-background-color: #076678;
    
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.button:hover {
    -fx-background-color: #458588;
}

.button:armed {
    -fx-background-color: #045666;
} 

.text-field {
    -fx-background-color: #504945;
    -fx-text-fill: #fbf1c7;
    -fx-prompt-text-fill: #fbf1c7;
    
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

#title-bar {
    -fx-background-color: #504945;
}

#title-bar #close-button {
    -fx-background-color: #cc241d;
}

#title-bar #close-button:hover {
    -fx-background-color: #f82a23;
}

#title-bar #close-button:armed {
    -fx-background-color: #9d0006;
}