#grid-layout {
    -fx-background-color: #282828;
}

#title-bar {
    -fx-background-color: #504945;
}

#title-bar .label {
    -fx-text-fill: #fbf1c7;
}


#title-bar .button {
    -fx-text-fill: #fbf1c7;
    -fx-background-color: #504945;
    
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

#title-bar .button:hover {
    -fx-background-color: #7c6f64;
}

#title-bar .button:armed {
    -fx-background-color: #3c3836;
} 

#title-bar #close-button {
    -fx-background-color: #cc241d;
}

#title-bar #close-button:hover {
    -fx-background-color: #f82a23;
}

#title-bar #close-button:armed {
    -fx-background-color: #9d0006;
}


.scroll-bar {
    -fx-background-color: black;
}

.scroll-bar .thumb {
    -fx-background-color: #504945;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-background-color: #fbf1c7;
}